## New Relic Infrastructure configuration file #
# Lines that begin with # are comment lines and are ignored by the
# Infrastructure agent. If options have command line equivalents, New Relic
# will use the command line option to override any value set in this file. #

license_key: 5b6087bd6e0af7c1221616cec6fcf4c39bc5602a
proxy: https://proxy-us.intel.com:912
verbose: 0
