###### CMS VAS USERS.ALLOW ######
#CMS Support
AMR\AD_CMSTUX
AMR\sys_acmsauto

#Collaboration Engineering
AMR\AD_ACMS_Infrastructure_Admin
AMR\patchengr

#IT Operations support groups
#GSM support
#AMR\Infrastructure Management

#Platform Hosting Operations Support
AMR\PlatformHostingAdmins
# No longer in AD
# AMR\sys_maintenanceautom
AMR\AD_CMS_operations
ED\ED_DCH_Compute_SysProgrammers

#EBa
AMR\Avamar_AMR
GAR\ad_mmohandx

#DSM - Monitoring
AMR\cmcc_adm
AMR\CMCC_BI_ADMIN

#PerformanceTesting
AMR\sys_PerfCenterAdmin

###### CMS VAS USERS.ALLOW ######

AMR\sys_disco
